@font-face{
    src: url("./fonts/Raleway-VariableFont_wght.ttf");
    font-family: Raleway;
}
@font-face{
    src: url("./fonts/OpenSans-Bold.ttf");
    font-family: OpenSans;
}
@font-face{
    src:url("./fonts/OpenSans-Light.ttf");
    font-family: OpenSans2;
}
@font-face{
    src:url("./fonts/OpenSans-SemiBold.ttf");
    font-family:OpenSans3
}
@font-face{
    src:url("./fonts/Lato-Thin.ttf");
    font-family:latoT
}
@font-face{
    src:url("./fonts/Lato-Light.ttf");
    font-family:latoB
}
.footer p{
    font-family: latoT;
}
.j-cole h3{
    font-family: latoT;
    font-size: 24px;
}
.j-cole p{
    font-family: OpenSans3;
    line-height: 22px;
}

@media screen and (min-width:800px){
    .j-cole h3{
    font-family: latoT;
    font-size: 24px;
}
    .f-flex{
        display: flex;}  

.grid{
    margin-top: 5em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 7em;
    margin-right: 5em;
    margin-left: 5em;
    font-family: Raleway;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 6em;
}
.flex{
    display: flex;
    justify-content:space-between;
    margin-top: 3em;
    margin-bottom: 5em;
    background-color: hsl(218, 28%, 13%);
}
.grid div p{
    text-align: center;
}
.grid div h3{text-align: center;}

.image img{
    max-width: 80%;
    padding-top: 5em;
    margin-left: 5em;
}

.flex2{
  
    margin-left: 5em;
    padding-top: 5em;
}
.flex2 p{
    font-family: Raleway;
    font-weight: 100;
    font-size: 14px;
    
}
.access button{
    background-color: hsl(176, 68%, 64%);
}
.access{background-color: hsl(217, 28%, 15%);
margin-right: 17em;
margin-left: 17em;
margin-top: -28em;
padding-bottom: 3em;
color:rgb(221, 220, 220);
}
.access p{
    text-align: center;
    font-family:  Raleway;
}
.access h3{
    text-align: center;
    padding-top: 2em;
    font-family:OpenSans;
}
.plan{
    font-family: OpenSans;
    font-size: 32px;
    
}

.footer{ 
    background-color: hsl(216, 53%, 9%);
    margin-top: 14em;
    
    
}
.lets-flex{
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 7em;
    
}
.button input{
    width: 20em;
    border-radius: 15px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}
.button button{
    width: 12em;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    border-radius: 20px;
    color: rgb(32, 5, 5);
    font-family: OpenSans;
    border: none;
}
.f-image p{
    font-family: latoB;
    text-align: 28px;
}
.button{text-align: center;}
.outside{
    color: hsl(176, 68%, 64%);
    font-family: OpenSans2;
    font-size: 12px;
}
.parent{
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}
}
.f-image img{max-width: 20%;

    
}

.list{
    padding-top: 16px;
   
}
.list ul{
    list-style-type: none;
    padding-left: 2em;
    
}
.list ul li{
    font-family: latoT;
    font-size: 14px;
    line-height: 28px;
}
.f-flex img{
    max-width: 20%;
    max-height: 20%;
    margin-left: 16px;
    margin-top: 4px;
}


body{
   
    font-size: 14px;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: flex-end
}
nav ul li{
    padding: 10px;
    list-style-type: none;
    font-family: OpenSans;
}
body{
    background-color:hsl(218, 28%, 13%);
    color: white;
}

.illustrate{
    text-align: center;
}
.illustrate img{
    max-width: 40%;
}
.illustrate button{
    border-radius: 18px;
    background-color: hsl(198, 60%, 50%);
    color:white;
    font-family: latoT;
    padding: 10px;
    width: 14em;
    border: none;
}
.illwords h3{font-family: OpenSans2;
    font-size:40px;
}
.illwords p{
    font-family: latoB;
    line-height: 22px;
    font-size: 16px;
    margin-top: -20px;
}
.logo{
    max-width: 20%;
    padding-left: 2em;

}

.inside  {text-align: center;
}



.testimonials{
    background-color: hsl(218, 30%, 18%);
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 2em;
 font-family: latoB;
 color:rgb(221, 220, 220);
 border-radius: 45px;
 line-height: 22px;

    
}

.testimonials img{max-width: 10%;
   

}
.testimonials figcaption{font-family: OpenSans;}
.main{
    background-color: hsl(218, 28%, 13%);
}

.quote{
    margin-top: 2em;
}



@media screen and (max-width:800px){
    .f-flex img{
        max-width: 20%;
        margin-left: 16px;
    }
    body{
  font-size: 17px;
    }
    .grid{
        background-color: hsl(218, 28%, 13%);
margin-top: 6em;
text-align: center;
font-family: OpenSans3;
margin-right: 1em;
margin-left: 1em;

    }
    .illustrate h3{
   font-size: 22px;
   margin-top: 28px;
 
    }
    .illustrate p{
        font-size: 14px;
        line-height: 24px;
        margin-top: 20px;
    }
    .inside{
        text-align: center;
        margin-bottom: 2em;  
    }
    .j-cole h3{
        font-family: OpenSans3;
        font-size: 18px;
    }
    .j-cole p{
        margin-bottom: 5em;
        font-family: OpenSans2;
        font-size: 14px;
        margin-left: 24px;
        padding-right: 24px;
      
    }
    .button{
        border:none;
    }
    .image img{
        max-width: 80%;
    }
    .image{ text-align: center;}
    .testimonials{margin-bottom: 2em;
        padding-top: 3em;
        margin-right: 1em;
        margin-left: 1em;
    }
    .flex2{
        margin-left: 1em;
        margin-right: 1em;
    }
    .footer{padding-top: 10em;
    background-color: hsl(216, 53%, 9%);
font-family: OpenSans;
}
    .access{
        margin-top: -59em;
        background-color:hsl(218, 28%, 13%);
        font-family: OpenSans3;
        padding:3em;
        margin-right: 1em;
        margin-left: 1em;
    }
    .main{
        padding-bottom: 20em;
    }
    .flex2{
        font-family: OpenSans2;
        margin-left: 1.5em;
        margin-right: 1.5em;
        

    }
    .access h3{
        text-align: center;
        font-family: OpenSans2;
        padding: 1em;
        font-size: 20px;


    }
    .access p{
        text-align: center;
        font-family: OpenSans2;
        padding-bottom: 1em;
        

    }
    
    .button input{
        width:15em;
        padding: .8em;
        border-radius: 40px;
    }
    .button button{
        margin-top: 1em;
        width: 17em;
        padding: .8em;
        border-radius: 40px;
        color: white;
        background-color: hsl(176, 68%, 64%);
    }
    .footer p{
        margin-left: 1em;
        font-family: OpenSans2;
        font-size: 12px;
    }
    .f-image{
        margin-left: 1em;
    }

 
    .f-flex{
        margin-left: 1em;
     display: flex;
     justify-content: center;
        margin-top: 2em;
        padding-bottom: 2em;
    }
    .flex img{
        padding-right: 2em;
    }

nav ul li{
    font-family: OpenSans2;
    font-size: 13px;
}
.illustrate img{
    max-width: 15em;
}
.plan{
    font-family: OpenSans;
    font-size: 16px;
}
.outside{
    font-family: OpenSans2;
    font-size: 12px;
    color: hsl(176, 68%, 64%);
  
}


}